# ========================
# Kafka
# ========================
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=earthquakes,usgs_by_region,usgs_last_day,usgs_significant_week
FETCH_INTERVAL=10

# ========================
# Faust
# ========================
FAUST_APP_NAME=your_app_name
FAUST_BROKER=kafka://localhost:9092

# ========================
# USGS API
# ========================
USGS_API_FLUX_GEOJSON=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson
USGS_LAST_DAY=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson
USGS_SIGNIFICANT_WEEK=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.geojson
USGS_M4_5_DAY=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/4.5_day.geojson
USGS_API_ALL_MONTH=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson
USGS_API_QUERY=https://earthquake.usgs.gov/fdsnws/event/1/query
